/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos del encabezado */
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    text-align: right;
  }
  
  nav li {
    display: inline-block;
    margin-left: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Estilos de la sección de productos */
  #productos {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .producto {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
  }
  
  .producto img {
    width: 200px;
    margin-right: 20px;
  }
  
  .producto h2 {
    margin: 0;
  }
  
  .producto p {
    margin: 10px 0;
    font-size: 14px;
    line-height: 1.2;
  }
  
  .producto .trailer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .producto .trailer iframe {
    width: 560px;
    height: 315px;
  }
  
  .producto .comentarios {
    margin-bottom: 20px;
  }
  
  .producto .comentarios h3 {
    margin: 0;
  }
  
  .producto .comentarios ul {
    margin: 0;
    padding: 0;
  }
  
  .producto .comentarios li {
    margin: 10px 0;
  }
  
  .producto .comentarios p {
    margin: 0;
    font-size: 14px;
    line-height: 1.2;
  }
  
  .producto .comprar {
    display: flex;
    justify-content: center;
  }
  
  .producto .comprar  button {
    background-color: #333;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .producto .comprar button:hover {
    background-color: #444;
  }
  /* Estilos para los formularios */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  label {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  
  input,
  select,
  textarea {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #f7f7f7;
    font-size: 1rem;
    width: 100%;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    transition: all 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #0062cc;
  }
  
  input[type="submit"]:disabled {
    background-color: #ddd;
    color: #666;
    cursor: not-allowed;
  }
  
  textarea {
    height: 150px;
    resize: vertical;
  }
  