/* Estilo global */
body {
	font-family: Arial, sans-serif;
	color: #333;
	margin: 0;
	padding: 0;
}

h1, h2 {
	text-align: center;
	margin-top: 40px;
}

p {
	line-height: 1.5;
	margin: 20px 0;
}

ul {
	list-style: disc;
	margin-left: 40px;
	line-height: 1.5;
}

/* Estilo específico para la sección de ubicación */
#ubicacion {
	margin-top: 40px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: #0066cc;
	text-shadow: 1px 1px #ccc;
	padding: 20px;
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #ccc;
}

/* Estilo específico para el enlace */
.enlace {
	display: block;
	margin-top: 40px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	color: #0066cc;
	text-shadow: 1px 1px #ccc;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px 20px;
	background-color: #f2f2f2;
	box-shadow: 2px 2px 2px #ccc;
	transition: background-color 0.3s, color 0.3s;
}

.enlace:hover {
	background-color: #0066cc;
	color: #fff;
	text-shadow: none;
}
